<h1>Product details </h1>
<label> Name: <%= @product.name %> </label></br></br>
<label> Price: $<%= @product.price %> </label></br></br>
<label> Category: <%= @product.category.title %> </label></br>
